@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling */

body {
    font-family: "Overpass", sans-serif;
    font-size: 15px; 
    background-color: hsl(216, 12%, 8%);
    color: white;
}

img .star {
    max-width: 17px;
}

img.thankyou {
    max-width: 160px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    color: hsl(217, 12%, 63%);
    line-height: 1.3rem;
    font-weight: 400;
}

button {
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 19%, 18%);
    padding: 10px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

button:hover {
    color: white;
    background-color: hsl(216, 12%, 54%);
    cursor: pointer;
}

.submit {
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-family: inherit;
    letter-spacing: .2rem;
    border: none;
    border-radius: 20px;
    padding: 10px 0;
}

.submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.submitted-rating {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    padding: 5px 30px;
    border-radius: 20px; 
}

/* layout changes */
.img-container {
    background-color: hsl(213, 19%, 18%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-container {
    margin: 120px auto;
    padding: 30px;
    max-width: 350px;
    border-radius: 20px;
    background: linear-gradient(hsl(215, 15%, 16%), hsl(214, 13%, 11%));;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rating-btns {
    display: flex;
    justify-content: space-between;
}

.btn:focus {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.thankyou-container {
    text-align: center;
    margin: 130px auto;
    padding: 30px;
    max-width: 350px;
    border-radius: 20px;
    background: linear-gradient(hsl(215, 15%, 16%), hsl(214, 13%, 11%));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.thankyou-container.hidden {
    display: none;
}


/* provided by project */
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 35%, 57%); 
    text-decoration: none;
}
